body{
    overflow: hidden;
}

#c{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#colorInput {
    position: fixed;
    bottom: 10px;
    right: 10px;
}